<a href="https://colab.research.google.com/github/kritieyo/basic-python-asssignment-pwskills/blob/main/DATA_STRUCTURE_PWSKILLS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data so it can be used efficiently.
They are important because they make programs faster, use less memory, and help solve problems effectively.

In [ ]:
'''
2. Explain the difference between mutable and immutable data types with examples

Mutable vs Immutable Data Types
Mutable Data Types

A. Can be changed after creation.
B. You can modify, add, or remove elements.

Examples (Python):

list
dictionary
set

Immutable Data Types

A. Cannot be changed once created.
B. Any change creates a new object.

Examples (Python):

int
float
string
tuple

In [ ]:
'''
3. What are the main differences between lists and tuples in Python?

A. Lists in Python are mutable, meaning you can change their contents (add, remove, modify items). They use square brackets: [ ].
B. Tuples are immutable, meaning once created, their contents cannot be changed. They use parentheses: ( ).
C. Lists are preferred when data needs to change; tuples are used when data should stay fixed.

In [ ]:
'''
4. Describe how dictionaries store data.

Dictionaries store data as key–value pairs.

Each key is unique and points to a value.
Python uses a hashing system to quickly find the value associated with a key.

In [ ]:
'''
5.Why might you use a set instead of a list in Python?

You might use a set instead of a list when you need:

A. No duplicate values (sets automatically remove duplicates)
B. Fast membership checks (checking if an item exists is much faster)
C. Unordered data where the order doesn’t matter

In [ ]:
'''
6.What is a string in Python, and how is it different from a list?

A string in Python is a sequence of characters (letters, numbers, symbols).
Example: "hello".

How it’s different from a list:

A string is immutable → you cannot change its characters.
A list is mutable → you can change, add, or remove items.
A string holds characters, while a list can hold any type of data (numbers, strings, objects, etc.).

In [ ]:
'''
7.How do tuples ensure data integrity in Python?

Tuples ensure data integrity because they are immutable.

Once a tuple is created, its values cannot be changed, added, or removed.
This prevents accidental modification and keeps the data safe, fixed, and reliable throughout the program.

In [ ]:
'''
8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that stores data using key–value pairs and uses a hash function to quickly find where each value is stored.

In Python, a dictionary is implemented using a hash table.
This is why dictionary operations like lookup, insert, and delete are very fast — they use hashing to jump directly to where the key’s value is stored.

In [ ]:
'''
9. Can lists contain different data types in Python>

Yes, lists in Python can contain different data types.
Python lists are flexible and can hold integers, strings, floats, booleans, or even other lists.

In [ ]:
'''
10. Explain why strings are immutable in Python.

Strings are immutable in Python because they cannot be changed once created. This immutability makes Python more efficient, since unchanged string objects can be safely reused in memory, improving performance. It also provides safety by preventing accidental modifications to data, and it allows strings to be used as dictionary keys because only immutable objects can be reliably hashed.

In [ ]:
'''
11. What advantages do dictionaries offer over lists of certain tasks?

Dictionaries are more efficient than lists when working with key–value data because they allow fast access using unique keys instead of searching through elements. They make data easier to understand since values are labelled with meaningful keys rather than index numbers. Dictionaries are ideal for representing real-world relationships and are easy to update, making them more suitable than lists for tasks involving quick lookups and organised data.

In [ ]:
'''
12. Describe a scenario where using a tuple would be preferable over a list.

A tuple is preferable when you need to store a fixed set of values that should not change, such as the coordinates of a point (x, y) or the days of the week. Since tuples are immutable, they help protect data from accidental modification and can be used safely where constant data is required.

In [ ]:
'''
13. How do sets handle duplicate values in Python?
In Python, sets automatically remove duplicate values. When you add elements to a set, only unique items are stored—any repeated values are ignored—making sets useful for ensuring uniqueness and eliminating duplicates from data.

In [ ]:
'''
14. How does the “in” keyword work differently for lists and dictionaries?

The in keyword checks different things in lists and dictionaries.
In a list, in checks whether a value exists among the elements of the list.
In a dictionary, in checks whether a key exists, not the value.

In [ ]:
'''
15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its values cannot be changed, added, or removed. This immutability helps keep data safe from accidental changes and makes tuples suitable for storing fixed or constant data.

In [ ]:
'''
16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary that contains another dictionary as its value. It is used to store complex, structured data. For example, in a student record system, each student’s ID can be a key, and the value can be another dictionary containing details like name, age, and marks.

In [ ]:
'''
17. Describe the time complexity of accessing elements in a dictionary.

Accessing elements in a dictionary has an average time complexity of O(1), meaning values can be retrieved instantly using their keys. This is because dictionaries use hashing, which allows fast lookups. In rare cases of hash collisions, the time complexity can degrade, but on average dictionaries are highly efficient.

In [ ]:
'''
18. In what situations are lists preferred over dictionaries?

Lists are preferred over dictionaries when the order of elements matters, when you need to access items by position or index, or when storing a simple sequence of values without key–value pairing. They are also better for tasks involving iteration in a specific order or when duplicates are allowed.

In [ ]:
'''
19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because their elements are stored based on hash values, not on their insertion order (conceptually). As a result, you cannot rely on a specific positional order when storing data. However, this does not affect data retrieval, because values are accessed directly using their keys, which makes lookups fast and efficient regardless of order.

In [ ]:
'''
20. Explain the difference between a list and a dictionary in terms of data retrieval.

The main difference lies in how data is retrieved.
In a list, elements are retrieved using their index position, so you must know where the item is stored. In a dictionary, data is retrieved using keys, allowing direct access to values without searching through other elements, which makes dictionaries faster and more efficient for lookups.

In [ ]:
'''
PRACTICAL QUESTIONS ANWERS BELOW:

1. Write a code to create a string with your name and print it.
 '''
name = "kriti"
print(name)

kriti

In [ ]:
'''
2. Write a code to find the length of the string "Hello World".
'''
text = "hello world"
print(len(text))

11

In [ ]:
'''
3. Write a code to slice the first 3 characters from the string "Python Programming".
'''
text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
'''
4. Write a code to convert the string "hello" to uppercase.
'''
text = "hello"
print(text.upper())

HELLO

In [ ]:
'''
5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
'''
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [ ]:
'''
6. Write a code to create a list with numbers 1 to 5 and print it.
'''
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
'''
7. Write a code to append the number 10 to the list [1, 2, 3, 4].
'''
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
'''
8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
'''
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
'''
9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
'''
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
'''
10. Write a code to reverse the list [10, 20, 30, 40, 50].
'''
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
'''
11. 1. Write a code to create a tuple with the elements 100, 200, 300 and print it.
'''
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
'''
12. . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
'''
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [ ]:
'''
13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
'''
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [ ]:
'''
14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
'''
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [ ]:
'''
15.. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
'''
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [ ]:
'''
16.. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
'''
set = {'a', 'b', 'c'}
print(set)

{'b', 'c', 'a'}

In [ ]:
'''
17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
'''
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [ ]:
'''
18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
'''
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [ ]:
'''
19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
'''
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
'''
20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
'''
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection = set1 & set2  # or set1.intersection(set2)
print(intersection)

{2, 3}

In [ ]:
'''
21. . Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
'''
dictionary = {"name": "kriti", "age": 19, "city": "Kolkata"}
print(dictionary)

{'name': 'kriti', 'age': 19, 'city': 'Kolkata'}

In [ ]:
'''
22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
'''
dictionary = {'name': 'John', 'age': 25}
dictionary["country"] = "USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
'''
23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
'''
dictionary = {'name': 'Alice', 'age': 30}
print(dictionary["name"])

Alice

In [ ]:
'''
24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
'''
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary["age"]
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
'''
25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
'''
dictionary = {'name': 'Alice', 'city': 'Paris'}
print("city" in dictionary)

True

In [ ]:
'''
26. Write a code to create a list, a tuple, and a dictionary, and print them all.
'''
# Creating a list
my_list = [1, 2, 3]

# Creating a tuple
my_tuple = (4, 5, 6)

# Creating a dictionary
my_dict = {"a": 1, "b": 2, "c": 3}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
'''
27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)
'''
import random

# Create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
numbers.sort()

# Print the result
print(numbers)

[32, 40, 55, 73, 83]

In [ ]:
'''
28. Write a code to create a list with strings and print the element at the third index.
'''
strings = ["apple", "banana", "cherry", "date", "elderberry"]
print(strings[2])

cherry

In [ ]:
'''
29. Write a code to combine two dictionaries into one and print the result.
'''
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
'''
30. Write a code to convert a list of strings into a set.
'''
# List of strings
string_list = ["apple", "banana", "apple", "cherry"]

# Convert list to set to remove duplicates
string_set = set(string_list)

# Print the resulting set
print(string_set)

TypeError: 'set' object is not callable